<img src="https://codeclan.com/wp-content/uploads/2019/04/cropped-CodeClan-Logo-White-2019-01-1.png" width="650" height="200" alt="codeclan logo">

<h1>Film details</h1>

<p>
<%= @movie_title %><br>
£<%= sprintf("%.2f", @movie_price) %>
</p>

<br>
<a href="/films"><< back to list</a>
